    body {
        margin-inline: 540px;
            padding-top: 100px;

    }

    input {
    width: 50px;
    }

    #CONTAIN {
        background-color: aquamarine;
        border: 1px solid rgb(31, 56, 48);
        padding: 15px;
 
    }

    #Result { 
        text-align: center;
        position: relative;
        left: 200px;
    }