html{
    width:100vw;
    height:100vh;
    scrollbar-width: none;
    background-color:rgb(243, 243, 243);
    background-size:cover;
}
body{
    width:100%;
    height:100%;

    display:grid;
    place-items:center;
    margin:0px;    


}
h1{
    text-align: center;
    margin-top:10px;
    margin:10px;
    font-size:medium;
}
#heading{
    background:#df9100;
    width:100%;
    height:100%;
    color:white;
    display:grid;
    place-items: center;
}
main{
    display:grid;
    grid-template-areas:
    "heading heading"
    "image form"
    "  .     .   ";
    place-items:center;
    width:70%;   
    grid-template-rows:0.5fr 5fr ;
    grid-template-columns:1fr 1fr;
    box-shadow: 0px 1px 5px;
    
}
img{
    display:block;

    width:100%;
    height:100%;

}
#img-container{
    background-image:url(top-view-grilled-prawns-garnished-with-pickles-flowers.jpg);
    background-size:cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
 

    

}

h2{
    margin:10px 0px 0px 0px;
    display:inline;
    text-align: center;
    color:#df9100;

}
::placeholder{
    color:#df9100;
}
input{
    width:90%;
    display:inline;
    background-color: transparent;
    border: none;
    color:#df9100;
    border-bottom:1px solid rgba(65, 0, 0, 0.597);
}
input#fn{
    width:85%;
    display:inline;
}
select{
    width:90%;    
    background-color: transparent;
    border: none;
    color:#df9100;  
    border-bottom:1px solid rgba(114, 62, 62, 0.766);  
}


option{
    background-color:rgb(150, 79, 79);
    color:rgb(255, 255, 255);
    
}

button{
    width:90%;
    background-color: #df9100;
    border: none;
    color:white;
    width:100%;
    height:100%;

}
form{
    display:grid;
    width:90%;
    height:100%;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "head2  head2 "
    "date  hour  "
    "persons  name"
    "phone  button";
    place-items:center;
    gap:3%;

}


#form-container{
    width:100%;    
    background-color:rgb(251, 241, 231);
    height:100%;
    display:grid;
    place-items:center;
    

}

@media (max-width:56em){
    
    main{
    grid-template-areas:
    "heading heading"
    "image image"
    "  form     form   ";
    grid-template-rows: 1fr 5fr 8fr;
    }
    form{
    display:grid;
    width:70%;
    height:100%;
    grid-template-columns: auto  ;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
    "head2  "
    "date "
    " hour  "
    "persons "
    "name"
    "phone"
    "button";
    place-items:center;
    gap:4%;

}
input#fn{
    width:90%;
    display:inline;
}
    

}