#NaviBar {
    border: black solid 1px;
}

#NaviBar2 {
    margin: 0px;
    padding: 20px;
    list-style: none;
    background-color: #7e1a1a;
}

.NaviBar3 {
    display: inline;
    padding: 20px;
}

.NaviBar3 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: white;
}





#Mbanner {
    background-image: url("Zchefds.png");
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 0px -580px;
}







#MItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.itemcolumn {
    width: 300px;
    background-color: white;
    margin: 35px;
    text-align: center;
    box-shadow: 1px 1px 9px #724e4e;
}

.itemcolumn img {
    width: 100%;
    height: 220px;
    
}

.itemcolumn:hover  {
    transform: scale(1.1);
    opacity: 1;
}

.itemdesc {
    padding: 15px;
}

.item-name {
    font-weight: bold;
}

.price {
    color: darkred;
    margin-top: 5px;
}

body {
    background-image:url('Woodbg.jpg')
}
