

body {
position: relative;
margin-inline:820px;
    background-color: #79bfe0;
}

label{
position: relative;
text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 1px 1px 10px  #084244;
    color: rgb(255, 255, 255);
}

input{
position: relative;
left: 10px;
width: 30px;

}

.Container {
margin-inline-start: 100px;
}



