#NavBar1 {
    border: solid black 1px;
}

#HomeNav {
margin: 0%;
padding: 0%;
overflow: hidden;
list-style-type:none;
    background-color: #b4dce9;
    border: 1px 2px  solid black;
}



.CatNav {
display: inline;
float:inline-start;
padding: 15px;
margin-inline:47px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 0px 3px rgb(194, 243, 245);
}

a:visited {
color: black;
}

a:link {
    color: black;
    }

#SearchNAV {
margin: 0%;
padding: 0%;
overflow: hidden;
list-style-type:none;
    background-color: #ffffff;
    outline: 2px 3px solid black;   
}

.SearchN {
display: inline;
float: left;
padding: 20px;
margin-inline:100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 0px 3px rgb(211, 248, 243);
}

.Column {
float: left;
padding-left: 10px;
text-align: center;
}

.PROW {
margin-inline:283px;

}

h5 {

}